/* téléphones */
.user {
    grid-column: auto;
    background-color:  hsl(235, 46%, 20%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

.user.light {
    background-color: #d8dad3;
}

.user img {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
}

.user-infos {
    background-color: hsl(246, 80%, 60%);
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex: 3;
    display: flex;
    gap: 24px;
}

.user-infos h1 {
    font-weight: 300;
}

.user-infos p {
    font-weight: 300;
    opacity: 0.7;
}

.user-frequency {
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.user-frequency {
    color: hsl(236, 100%, 87%);
    margin: 0;
}

/* .user-frequency.light {
    background-color: #d8dad3;
} */

#daily, #weekly, #monthly {
    cursor: pointer;
    opacity: 0.5;
    font-weight: 300;
    font-size: 18px;
}

#daily.light, #weekly.light, #monthly.light {
    color: black;
}

/* Attention à bien associer la classe .clicked aux id dans le CSS sinon les propriétés de l'id prendront le dessus */
#daily.clicked, #weekly.clicked, #monthly.clicked {
    opacity: 1;
    font-weight: 600;
    color: white !important;
}

#daily.clicked.light, #weekly.clicked.light, #monthly.clicked.light {
    color: black !important;
}

/* ordis */
@media (min-width: 1023px) { 
    .user {
        grid-column: 1 / 2 !important;
        grid-row: 1 / span 2 !important;
        height: auto;
    }

    .user-infos {
        padding-top: 50px;
        padding-bottom: 70px;
        flex-direction: column;
        justify-content: space-between;
    }

    .user-frequency {
        flex-direction: column;
    }
}

/* tablettes */
@media (min-width: 650px) {
    /* On indique seulement le comportement dans le grid de l'enfant "user" car les autres enfants se mettront automatiquement dans une seule case */
    .user {
        grid-column: 1 / span 2;
        grid-row: auto;
    }
}