@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-color: hsl(226, 43%, 10%);
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  font-family: "Rubik";
}

.icon-toggle1, .icon-toggle2 {
  font-size: 24px;
  margin-top:0;
}

.icon-toggle1.hidden {
  display: none;
}

.icon-toggle2.hidden {
  display: none;
}

.div-mode {
  display: flex;
  justify-content: end;
}

/* Téléphones */
.section-wrapper {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  grid-template-columns: 1fr;
}

/* Tablettes */
@media (min-width: 650px) {
  .section-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Ordis */
@media (min-width: 1023px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: clamp(10px, 2vw, 60px); */
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, auto); */
  }

  .div-mode {
    margin-top: 0;
    justify-content: start;
  }
}
