@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.dots {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: opacity 0.1s ease-in-out;
}

.dots:hover {
    opacity: 1;
}

.cards {
    height: auto;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.cards.work {
    background-color: hsl(15, 100%, 70%);
}

.cards.play {
    background-color:  hsl(195, 74%, 62%);
}

.cards.study {
    background-color:  hsl(348, 100%, 68%);
}

.cards.exercise {
    background-color: hsl(145, 58%, 55%);
}

.cards.social {
    background-color: hsl(264, 64%, 52%);
}

.cards.self-care {
    background-color:  hsl(43, 84%, 65%);
}

.card-top {
    height: 40px;
}

.card-body {
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.1s ease-in-out;
}

.card-body:hover {
    background-color: hsl(235, 45%, 61%);
    cursor:pointer;
}

.card-body.light {
    background-color: #d8dad3;
    color: black;
}

.card-body.light p {
    color: black !important;
}

.card-body.light:hover {
    background-color: #a4c2a5;
    cursor: pointer;
}

.card-body h1 {
    font-weight: 300;
}

.card-top.work {
    background: url('../../time-tracking-dashboard-main/images/icon-work.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.card-top.play {
    background: url('../../time-tracking-dashboard-main/images/icon-play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.card-top.study {
    background: url('../../time-tracking-dashboard-main/images/icon-study.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.card-top.exercise {
    background: url('../../time-tracking-dashboard-main/images/icon-exercise.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.card-top.social {
    background: url('../../time-tracking-dashboard-main/images/icon-social.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.card-top.self-care {
    background: url('../../time-tracking-dashboard-main/images/icon-self-care.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* .times h1 {
    border : solid white 1px;
} */

.times p {
    text-align: right;
    padding-top: 1vh;
}

.last {
    width: 100px;
    /* border: 1px solid white; */
}

@media (min-width:1023px) {
    .times {
        display: block;
        gap: 0px;

    }
    .times p {
        text-align: left;
        padding-top: 0;
    }

    .last {
        width: auto;
}

}

/* Polices */

/* .last {
    color: hsl(236, 100%, 87%);
    font-weight: 300;
} */

.times p {
    color: hsl(236, 100%, 87%);
    font-weight: 300;
}

.card-body h6 {
    font-size: 18px;
}

.card-body h1 {
    font-size: 56px;
}

/* .none {
    display: none;
} */